.Header {
    display: flex;
    font-family: "Fugaz One";
    width: 100%;
  }
  
  .banner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #48b7df;
    width: 100%;
    height: 6vw;
    min-height: 75px;
  }
  
  .title-1 {
    color: #ffffff;
    margin-left: 3vw;
    font-size:calc(45px + 1.2vw);
    cursor: default;
    -webkit-text-stroke: 0.008vw #f99427;
  }
  
  .title-2 {
    color: #f99427;
    cursor: default;
    -webkit-text-stroke: 0.008vw #ffffff;
  }
  
  .title-1:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all ease-in-out 0.3s;
  }
  
  .title-1:hover > .title-2,
  .title-2:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all ease-in-out 0.3s;
  }